/* src/HistoriLamaran.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: hwb(0 97% 3%);
}
  
.nav-links {
    display: flex;
    gap: 15px;
}
  
.nav-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
  
.profile-button {
    background-color: #333;
    color: #ffd700;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
}

.histori-container {
    padding: 20px;
    text-align: center;
  }
  
  .histori-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .application-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .application-item {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
  }
  
  .application-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .application-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #ffd700;
    border: none;
    color: #333;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #ffc107;
  }
  